<h2>Spreadsheet Calculator</h2>
<h3>Maximize the Power of spreadsheet with the ease of calculator</h3>

<div id="calculator"></div>
<div id="calculator1"></div>
<input type="button" value="Start Calculating now" class="btn btn-primary active" id="start">
<input type="button" value="Submit" id="submission">



