<script type="text/javascript"> 
  // $(document).ready(displaySpreadsheet);
  var hot = null;
  $(document).ready(function() {
    // $(this).on('mouse', updatespreadsheet(hot))
    $("#submission").hide();
    $('#start').on('click', displaySpreadsheet)
    $("#submission").on('click', updatespreadsheet)

    function displaySpreadsheet(){
      var data = function () {
      return Handsontable.helper.createEmptySpreadsheetData(10, 10);
      };
   
      var container = document.getElementById('calculator');
      // console.log(container)
      //   var data = [
      // ["", "Ford", "Volvo", "Toyota", "Honda"],
      // ["2016", 10, 11, 12, 13],
      // ["2017", 20, 11, 14, 13],
      // ["2018", 30, 15, 12, 13]
      // ];
        console.log("getting data");
        hot = new Handsontable(container, {
        data: data(),
        minSpareCols: 1,
        minSpareRows: 1,
        rowHeaders: true,
        colHeaders: true,
        contextMenu: true
      });
      $('#start').hide();
      $("#submission").show();
      console.log("getting data")
      console.log(hot.countEmptyRows())
      console.log(hot.countEmptyCols())
      // console.log(hot.countRows())
      // console.log(hot.countCols())
      // console.log(hot.getData())
      // console.log(JSON.stringify(hot.getData()))
      // updatespreadsheet(hot);
      console.log(hot)    
    }

    function updatespreadsheet(e, obj) {
      $.ajax({
        url: '/calculators',
        method: 'POST',
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        data: JSON.stringify({json: hot.getData(), col_count: hot.countCols()-hot.countEmptyCols()} )
      }).done(function (result){
      console.log(hot.getData());
      console.log(result)

      

      // var container = document.getElementById('calculator');
      // console.log(container)
        // var data = result;
      //    var data = [
      // ["", "Ford", "Volvo", "Toyota", "Honda"],
      // ["2016", 10, 11, 12, 13],
      // ["2017", 20, 11, 14, 13],
      // ["2018", 30, 15, 12, 13]
      // ];
      // hot['data'] = data;
      // console.log(hot['data'])
      // console.log('hot.data')
      // console.log(hot)
      // console.log($(hot).data)
        console.log("getting data");
        $('#calculator').hide();
        // console.log(data)
      //   hot = new Handsontable(container, {
      //   data: data(),
      //   minSpareCols: 1,
      //   minSpareRows: 1,
      //   rowHeaders: true,
      //   colHeaders: true,
      //   contextMenu: true
      // });

        // hot[data] = data;
        console.log('printing hot')
        var container1 = document.getElementById('calculator1');
      // console.log(container)
        var data = [
      ["", "Ford", "Volvo", "Toyota", "Honda"],
      ["2016", 10, 11, 12, 13],
      ["2017", 20, 11, 14, 13],
      ["2018", 30, 15, 12, 13]
      ];
      //   console.log("getting data");
        hot1 = new Handsontable(container1, {
        data: result,
        minSpareCols: 1,
        minSpareRows: 1,
        rowHeaders: true,
        colHeaders: true,
        contextMenu: true
      });
        console.log('result final')
      console.log(result)

      });
 
    }
})

</script>

<h2>Spreadsheet Calculator</h2>
<p>
Enter the data in spreadsheet and get the results
</p>

<div id="calculator"></div>
<div id="calculator1"></div>
<input type="button" value="start" id="start">
<input type="button" value="Submit" id="submission">



