
<div id="exTab2" class="container"> 
    <ul  class="nav nav-tabs">
      <li class="active">
        <a  href="#1a" data-toggle="tab">Input Sheet</a>
      </li>
      <li><a href="#2a" data-toggle="tab">Evaluated Sheet</a>
      </li>
    </ul>

    <div class="tab-content clearfix">
      <div class="tab-pane active" id="1a">
        <h3 id="flash" class="btn-info">Please enter data to evaluate the sheet</h3>
        <div id="calculator"></div>
        <div>
          <input class="btn btn-success" type="button" value="Evaluate" id="submission">
        </div>
      </div>
      <div class="tab-pane" id="2a">
        <h3>Your evaluated sheet</h3>
        <div id="calculatorEvaluated"></div>
      </div>
    </div>
</div>




